@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Noto Sans Thai', sans-serif;
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: #E6FFFA;
}
